.social__icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: .4s;
}

.social__icon--dark-1 {
  background: #bebebe;
}

.social__icon--dark-2 {
  background: #373737;
}

.social__icon:hover {
  background: #b88b58;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 50px;
  padding: 15px 30px;
  transition: .4s;
  cursor: pointer;
}

.btn:hover {
  background: transparent;
}

.btn--shadow {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
}

.btn--shadow:active {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

.btn--primary {
  background: #b88b58;
  border: 2px solid #b88b58;
}

.btn--primary:hover {
  color: #b88b58;
}

.btn--secondary {
  background: #373737;
  border: 2px solid #373737;
}

.btn--secondary:hover {
  color: #373737;
}

.scroll-btn {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  color: #ffffff;
  background: #b88b58;
  position: fixed;
  right: 5%;
  bottom: 5%;
  opacity: .4;
  transition: .4s;
  font-size: 30px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
}

.scroll-btn:hover {
  opacity: 1;
}

.projects {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.projects-item {
  margin: 1%;
  position: relative;
}

.projects-item:hover .projects-layer {
  opacity: 1;
}

.projects-item img {
  display: block;
}

@media (max-width: 768px) {
  .projects-item {
    width: auto;
  }
}

.projects-layer {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  padding: 15px;
  transition: .4s;
  cursor: pointer;
}

.projects-heading {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.projects-text {
  font-size: 14px;
}

@media (max-width: 768px) {
  .projects {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.team-card {
  background: #ffffff;
  border-radius: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding: 30px;
  max-width: 340px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .team-card {
    margin-bottom: 40px;
  }
}

.team-card__img {
  margin: 20px 0 50px;
}

.team-card__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  list-style-type: none;
  width: 100%;
  margin: 30px 0 20px;
}

.team-card__link {
  text-align: center;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  color: #ffffff;
  background: #bebebe;
  transition: .4s;
}

.team-card__link:hover {
  background: #b88b58;
}

.opinion {
  margin-top: 20px;
  text-align: center;
}

.opinion__name {
  font-weight: 900;
  color: #000000;
  margin-top: 20px;
  font-size: 22px;
}

.opinion__profession {
  font-weight: 600;
  font-size: 16px;
}

.opinion__quotation {
  text-align: center;
  margin-top: 30px;
}

.opinion__quotation .fas {
  color: #7e7e7e;
  font-size: 30px;
  margin-bottom: 30px;
}

.opinion__quotation-text {
  font-weight: 400;
  line-height: 200%;
  color: #7e7e7e;
}

.price-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  transition: .4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  max-width: 320px;
}

@media (max-width: 1200px) {
  .price-card {
    margin: 0 auto 40px auto;
  }
}

.price-card:hover {
  transform: scale(1.03);
}

.price-card__tag {
  font-weight: 900;
  font-size: 32px;
  display: block;
  margin-top: 5px;
}

.price-card__label {
  font-size: 14px;
  text-transform: uppercase;
  color: #aeaeae;
}

.price-card__list {
  margin: 30px 0;
  list-style-type: none;
}

.price-card__item {
  font-size: 12px;
  font-weight: 600;
  color: #7e7e7e;
}

.price-card__item:not(:last-child)::after {
  content: '';
  display: block;
  background: #7e7e7e;
  width: 10px;
  height: 1px;
  margin: 10px auto 10px auto;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #f7f7f7;
}

.separate-line {
  width: 100%;
  height: 1px;
  background: #bebebe;
  margin: 40px 0;
}

.heading--first {
  font-size: 60px;
  font-weight: 900;
  line-height: 90%;
  color: #ffffff;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .heading--first {
    font-size: 40px;
    line-height: 100%;
  }
}

.heading--fourth {
  font-size: 16px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
}

.heading--five {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.heading--six {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.colored {
  color: #b88b58;
}

.section-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.section-heading,
.section-subheading {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.section-heading {
  font-size: 32px;
  color: #000000;
  margin-bottom: 5px;
}

.section-subheading {
  font-size: 16px;
  font-weight: 700;
  color: #aeaeae;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.footer {
  padding: 30px 0 40px;
  background: #000000;
  color: #aeaeae;
}

.footer .footer-text {
  line-height: 150%;
  font-size: 13px;
  text-align: justify;
}

@media (max-width: 992px) {
  .footer .footer-text {
    margin: 30px 0;
  }
}

.footer .subscribe {
  height: 100%;
  background: #373737;
  border-radius: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.footer .subscribe__field {
  position: relative;
  border-bottom: 2px solid #aeaeae;
  margin-bottom: 15px;
  width: 70%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.footer .subscribe__label {
  margin-bottom: 10px;
}

.footer .subscribe__input {
  border: none;
  outline: none;
  background: transparent;
  width: 90%;
  padding: 5px 10px;
  font-size: 18px;
  color: #bebebe;
  text-align: center;
}

.footer .subscribe__line {
  width: 0;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background: #b88b58;
  bottom: -2px;
  transition: .8s;
}

.footer .subscribe__input:focus + .subscribe__line,
.footer .subscribe__input:valid + .subscribe__line {
  width: 100%;
}

@media (max-width: 992px) {
  .footer .subscribe {
    padding: 20px;
  }
}

.footer .footer-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 100%;
}

.footer .footer-box__list {
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

@media (max-width: 992px) {
  .footer .footer-box__list {
    margin-bottom: 10px;
  }
}

.footer .footer-box__item {
  margin-right: 5px;
}

.footer .footer-box__link {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  background: #373737;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: .4s;
}

.footer .footer-box__link:hover {
  background: #b88b58;
}

.footer .footer-box__copy {
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 992px) {
  .footer .footer-box {
    -ms-flex-align: center;
        align-items: center;
  }
}

.form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 40px;
  text-align: center;
}

.form__field {
  position: relative;
  border-bottom: 2px solid #aeaeae;
  margin-bottom: 40px;
  transition: .4s;
}

.form__field--50 {
  width: 47%;
}

@media (max-width: 600px) {
  .form__field--50 {
    width: 100%;
  }
}

.form__field--100 {
  width: 100%;
}

.form__field:first-child {
  margin-right: auto;
}

@media (max-width: 600px) {
  .form__field:first-child {
    margin-right: none;
  }
}

.form__input {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border: none;
  outline: none;
  height: 30px;
  line-height: 30px;
  width: 100%;
  display: block;
  color: #373737;
  background: none;
}

.form__label {
  position: absolute;
  left: 0;
  bottom: 5px;
  color: #aeaeae;
  text-transform: uppercase;
  transition: .4s;
}

.form__line {
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background: #b88b58;
  transition: .8s;
}

.form__input:focus ~ .form__line,
.form__input:valid ~ .form__line {
  width: 100%;
}

.form__input:focus ~ .form__label,
.form__input:valid ~ .form__label {
  bottom: 35px;
  font-size: 12px;
}

.container,
.container-full-width {
  width: 100%;
  margin: 0 auto;
}

.container-full-width {
  padding: 0;
}

.container {
  max-width: 1170px;
  padding: 0 20px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  /* Greater than 1200px */
}

.row [class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.row .col-1 {
  -ms-flex: 8.33333%;
      flex: 8.33333%;
  max-width: 8.33333%;
}

.row .col-offset-1 {
  margin-left: 8.33333%;
}

.row .col-2 {
  -ms-flex: 16.66667%;
      flex: 16.66667%;
  max-width: 16.66667%;
}

.row .col-offset-2 {
  margin-left: 16.66667%;
}

.row .col-3 {
  -ms-flex: 25%;
      flex: 25%;
  max-width: 25%;
}

.row .col-offset-3 {
  margin-left: 25%;
}

.row .col-4 {
  -ms-flex: 33.33333%;
      flex: 33.33333%;
  max-width: 33.33333%;
}

.row .col-offset-4 {
  margin-left: 33.33333%;
}

.row .col-5 {
  -ms-flex: 41.66667%;
      flex: 41.66667%;
  max-width: 41.66667%;
}

.row .col-offset-5 {
  margin-left: 41.66667%;
}

.row .col-6 {
  -ms-flex: 50%;
      flex: 50%;
  max-width: 50%;
}

.row .col-offset-6 {
  margin-left: 50%;
}

.row .col-7 {
  -ms-flex: 58.33333%;
      flex: 58.33333%;
  max-width: 58.33333%;
}

.row .col-offset-7 {
  margin-left: 58.33333%;
}

.row .col-8 {
  -ms-flex: 66.66667%;
      flex: 66.66667%;
  max-width: 66.66667%;
}

.row .col-offset-8 {
  margin-left: 66.66667%;
}

.row .col-9 {
  -ms-flex: 75%;
      flex: 75%;
  max-width: 75%;
}

.row .col-offset-9 {
  margin-left: 75%;
}

.row .col-10 {
  -ms-flex: 83.33333%;
      flex: 83.33333%;
  max-width: 83.33333%;
}

.row .col-offset-10 {
  margin-left: 83.33333%;
}

.row .col-11 {
  -ms-flex: 91.66667%;
      flex: 91.66667%;
  max-width: 91.66667%;
}

.row .col-offset-11 {
  margin-left: 91.66667%;
}

.row .col-12 {
  -ms-flex: 100%;
      flex: 100%;
  max-width: 100%;
}

.row .col-offset-12 {
  margin-left: 100%;
}

@media (max-width: 1200px) {
  .row .col-xl-1 {
    -ms-flex: 8.33333%;
        flex: 8.33333%;
    max-width: 8.33333%;
  }
  .row .col-xl-offset-1 {
    margin-left: 8.33333%;
  }
  .row .col-xl-2 {
    -ms-flex: 16.66667%;
        flex: 16.66667%;
    max-width: 16.66667%;
  }
  .row .col-xl-offset-2 {
    margin-left: 16.66667%;
  }
  .row .col-xl-3 {
    -ms-flex: 25%;
        flex: 25%;
    max-width: 25%;
  }
  .row .col-xl-offset-3 {
    margin-left: 25%;
  }
  .row .col-xl-4 {
    -ms-flex: 33.33333%;
        flex: 33.33333%;
    max-width: 33.33333%;
  }
  .row .col-xl-offset-4 {
    margin-left: 33.33333%;
  }
  .row .col-xl-5 {
    -ms-flex: 41.66667%;
        flex: 41.66667%;
    max-width: 41.66667%;
  }
  .row .col-xl-offset-5 {
    margin-left: 41.66667%;
  }
  .row .col-xl-6 {
    -ms-flex: 50%;
        flex: 50%;
    max-width: 50%;
  }
  .row .col-xl-offset-6 {
    margin-left: 50%;
  }
  .row .col-xl-7 {
    -ms-flex: 58.33333%;
        flex: 58.33333%;
    max-width: 58.33333%;
  }
  .row .col-xl-offset-7 {
    margin-left: 58.33333%;
  }
  .row .col-xl-8 {
    -ms-flex: 66.66667%;
        flex: 66.66667%;
    max-width: 66.66667%;
  }
  .row .col-xl-offset-8 {
    margin-left: 66.66667%;
  }
  .row .col-xl-9 {
    -ms-flex: 75%;
        flex: 75%;
    max-width: 75%;
  }
  .row .col-xl-offset-9 {
    margin-left: 75%;
  }
  .row .col-xl-10 {
    -ms-flex: 83.33333%;
        flex: 83.33333%;
    max-width: 83.33333%;
  }
  .row .col-xl-offset-10 {
    margin-left: 83.33333%;
  }
  .row .col-xl-11 {
    -ms-flex: 91.66667%;
        flex: 91.66667%;
    max-width: 91.66667%;
  }
  .row .col-xl-offset-11 {
    margin-left: 91.66667%;
  }
  .row .col-xl-12 {
    -ms-flex: 100%;
        flex: 100%;
    max-width: 100%;
  }
  .row .col-xl-offset-12 {
    margin-left: 100%;
  }
}

@media (max-width: 992px) {
  .row .col-bg-1 {
    -ms-flex: 8.33333%;
        flex: 8.33333%;
    max-width: 8.33333%;
  }
  .row .col-bg-offset-1 {
    margin-left: 8.33333%;
  }
  .row .col-bg-2 {
    -ms-flex: 16.66667%;
        flex: 16.66667%;
    max-width: 16.66667%;
  }
  .row .col-bg-offset-2 {
    margin-left: 16.66667%;
  }
  .row .col-bg-3 {
    -ms-flex: 25%;
        flex: 25%;
    max-width: 25%;
  }
  .row .col-bg-offset-3 {
    margin-left: 25%;
  }
  .row .col-bg-4 {
    -ms-flex: 33.33333%;
        flex: 33.33333%;
    max-width: 33.33333%;
  }
  .row .col-bg-offset-4 {
    margin-left: 33.33333%;
  }
  .row .col-bg-5 {
    -ms-flex: 41.66667%;
        flex: 41.66667%;
    max-width: 41.66667%;
  }
  .row .col-bg-offset-5 {
    margin-left: 41.66667%;
  }
  .row .col-bg-6 {
    -ms-flex: 50%;
        flex: 50%;
    max-width: 50%;
  }
  .row .col-bg-offset-6 {
    margin-left: 50%;
  }
  .row .col-bg-7 {
    -ms-flex: 58.33333%;
        flex: 58.33333%;
    max-width: 58.33333%;
  }
  .row .col-bg-offset-7 {
    margin-left: 58.33333%;
  }
  .row .col-bg-8 {
    -ms-flex: 66.66667%;
        flex: 66.66667%;
    max-width: 66.66667%;
  }
  .row .col-bg-offset-8 {
    margin-left: 66.66667%;
  }
  .row .col-bg-9 {
    -ms-flex: 75%;
        flex: 75%;
    max-width: 75%;
  }
  .row .col-bg-offset-9 {
    margin-left: 75%;
  }
  .row .col-bg-10 {
    -ms-flex: 83.33333%;
        flex: 83.33333%;
    max-width: 83.33333%;
  }
  .row .col-bg-offset-10 {
    margin-left: 83.33333%;
  }
  .row .col-bg-11 {
    -ms-flex: 91.66667%;
        flex: 91.66667%;
    max-width: 91.66667%;
  }
  .row .col-bg-offset-11 {
    margin-left: 91.66667%;
  }
  .row .col-bg-12 {
    -ms-flex: 100%;
        flex: 100%;
    max-width: 100%;
  }
  .row .col-bg-offset-12 {
    margin-left: 100%;
  }
}

@media (max-width: 768px) {
  .row .col-md-1 {
    -ms-flex: 8.33333%;
        flex: 8.33333%;
    max-width: 8.33333%;
  }
  .row .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .row .col-md-2 {
    -ms-flex: 16.66667%;
        flex: 16.66667%;
    max-width: 16.66667%;
  }
  .row .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .row .col-md-3 {
    -ms-flex: 25%;
        flex: 25%;
    max-width: 25%;
  }
  .row .col-md-offset-3 {
    margin-left: 25%;
  }
  .row .col-md-4 {
    -ms-flex: 33.33333%;
        flex: 33.33333%;
    max-width: 33.33333%;
  }
  .row .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .row .col-md-5 {
    -ms-flex: 41.66667%;
        flex: 41.66667%;
    max-width: 41.66667%;
  }
  .row .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .row .col-md-6 {
    -ms-flex: 50%;
        flex: 50%;
    max-width: 50%;
  }
  .row .col-md-offset-6 {
    margin-left: 50%;
  }
  .row .col-md-7 {
    -ms-flex: 58.33333%;
        flex: 58.33333%;
    max-width: 58.33333%;
  }
  .row .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .row .col-md-8 {
    -ms-flex: 66.66667%;
        flex: 66.66667%;
    max-width: 66.66667%;
  }
  .row .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .row .col-md-9 {
    -ms-flex: 75%;
        flex: 75%;
    max-width: 75%;
  }
  .row .col-md-offset-9 {
    margin-left: 75%;
  }
  .row .col-md-10 {
    -ms-flex: 83.33333%;
        flex: 83.33333%;
    max-width: 83.33333%;
  }
  .row .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .row .col-md-11 {
    -ms-flex: 91.66667%;
        flex: 91.66667%;
    max-width: 91.66667%;
  }
  .row .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .row .col-md-12 {
    -ms-flex: 100%;
        flex: 100%;
    max-width: 100%;
  }
  .row .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media (max-width: 600px) {
  .row .col-sm-1 {
    -ms-flex: 8.33333%;
        flex: 8.33333%;
    max-width: 8.33333%;
  }
  .row .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .row .col-sm-2 {
    -ms-flex: 16.66667%;
        flex: 16.66667%;
    max-width: 16.66667%;
  }
  .row .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .row .col-sm-3 {
    -ms-flex: 25%;
        flex: 25%;
    max-width: 25%;
  }
  .row .col-sm-offset-3 {
    margin-left: 25%;
  }
  .row .col-sm-4 {
    -ms-flex: 33.33333%;
        flex: 33.33333%;
    max-width: 33.33333%;
  }
  .row .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .row .col-sm-5 {
    -ms-flex: 41.66667%;
        flex: 41.66667%;
    max-width: 41.66667%;
  }
  .row .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .row .col-sm-6 {
    -ms-flex: 50%;
        flex: 50%;
    max-width: 50%;
  }
  .row .col-sm-offset-6 {
    margin-left: 50%;
  }
  .row .col-sm-7 {
    -ms-flex: 58.33333%;
        flex: 58.33333%;
    max-width: 58.33333%;
  }
  .row .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .row .col-sm-8 {
    -ms-flex: 66.66667%;
        flex: 66.66667%;
    max-width: 66.66667%;
  }
  .row .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .row .col-sm-9 {
    -ms-flex: 75%;
        flex: 75%;
    max-width: 75%;
  }
  .row .col-sm-offset-9 {
    margin-left: 75%;
  }
  .row .col-sm-10 {
    -ms-flex: 83.33333%;
        flex: 83.33333%;
    max-width: 83.33333%;
  }
  .row .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .row .col-sm-11 {
    -ms-flex: 91.66667%;
        flex: 91.66667%;
    max-width: 91.66667%;
  }
  .row .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .row .col-sm-12 {
    -ms-flex: 100%;
        flex: 100%;
    max-width: 100%;
  }
  .row .col-sm-offset-12 {
    margin-left: 100%;
  }
}

.header {
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.header__wrapper {
  width: 100%;
  max-width: 1170px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: row;
      flex-direction: row;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .header__wrapper {
    padding: 10px 20px;
  }
}

.nav__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80px;
  line-height: 80px;
}

.nav__item {
  display: inline-block;
  margin-left: 18px;
  position: relative;
}

.nav__item::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 5px;
  width: 0%;
  display: block;
  background: #b88b58;
  transition: .4s;
}

.nav__item:hover::after {
  width: 100%;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  height: 100%;
}

.mobile {
  display: none;
  z-index: 99;
  cursor: pointer;
}

.mobile__line {
  height: 3px;
  width: 40px;
  display: block;
  background: #ffffff;
  transition: .3s;
}

.mobile__line--2 {
  margin: 8px 0;
}

.mobile.active .mobile__line--2 {
  opacity: 0;
}

.mobile.active .mobile__line--1 {
  transform: translateY(11px) rotate(45deg);
}

.mobile.active .mobile__line--3 {
  transform: translateY(-11px) rotate(-45deg);
}

@media (max-width: 1200px) {
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.9);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    transform: translateX(-100%);
    transition: .8s;
    visibility: hidden;
  }
  .nav__list {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center;
    -ms-flex-align: center;
        align-items: center;
    height: unset;
    line-height: unset;
  }
  .nav__item {
    margin-left: 0;
    margin-bottom: 15px;
    padding-bottom: 5px;
  }
  .nav__item::after {
    height: 3px;
  }
  .nav__link {
    font-size: 22px;
  }
  .nav.visible {
    transform: translateX(0%);
    visibility: visible;
  }
  .mobile {
    display: inline-block;
  }
}

.home {
  background: #000000 url("../images/bg-1.jpg") no-repeat center center/cover;
  height: 85vh;
  position: relative;
  margin-top: 60px;
}

.home__wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home__content-box {
  text-align: center;
}

.home__number {
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 10px 0 30px 0;
}

.about {
  padding: 60px 0 90px;
}

@media (max-width: 992px) {
  .about .about-content {
    margin-bottom: 60px;
  }
}

.about .about-text {
  margin-bottom: 40px;
  line-height: 180%;
}

@media (max-width: 992px) {
  .about {
    text-align: center;
  }
}

.iframe__container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.iframe__content {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.services {
  padding: 60px 0 40px;
  background: #000000;
}

.services .section-heading {
  color: #ffffff;
}

.services .servicesBox {
  text-align: center;
  border-left: 1px solid #aeaeae;
}

.services .servicesBox:last-child {
  border-right: 1px solid #aeaeae;
}

@media (max-width: 992px) {
  .services .servicesBox:last-child {
    border: none;
  }
}

.services .servicesBox i {
  font-size: 60px;
  color: #b88b58;
  margin-bottom: 34px;
}

@media (max-width: 992px) {
  .services .servicesBox i {
    margin-bottom: 10px;
  }
}

.services .servicesBox .heading--fourth {
  white-space: nowrap;
}

.services .servicesBox-text {
  margin-top: 10px;
  color: #aeaeae;
}

@media (max-width: 992px) {
  .services .servicesBox {
    border: none;
    margin-bottom: 30px;
  }
}

.features {
  padding: 60px 0 40px;
}

.features .features-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 40px;
}

.features .features-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  border-right: 1px solid #cfcfcf;
  color: #000000;
  position: relative;
}

.features .features-nav__link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0;
  height: 4px;
  background: #b88b58;
  display: inline-block;
  transition: .4s;
}

.features .features-nav__link:hover::after {
  width: 100%;
}

.features .features-nav__link:last-child {
  border-right: none;
}

@media (max-width: 768px) {
  .features .features-nav__link {
    border: none;
  }
}

.features .features-nav__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  border-radius: 50px;
  border: 1px solid #cfcfcf;
  background: #ededed;
  width: 700px;
}

@media (max-width: 768px) {
  .features .features-nav__wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    width: 200px;
  }
}

.features-cta {
  text-align: center;
  margin-top: 30px;
}

.team {
  padding: 60px 0 100px;
  background-image: url("../images/Bg-our-team.png");
  background-size: cover;
}

.team .section-heading {
  color: #ffffff;
}

.opinions {
  padding: 60px 0 80px;
  background: #f7f7f7;
}

.logos {
  padding: 40px 0;
  background: #ffffff;
  border-top: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
}

.logos .logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.logos .logo__item {
  margin: 1% 3%;
  width: unset;
}

@media (max-width: 600px) {
  .logos .logo__item {
    margin: 4% 3%;
    width: 100%;
    text-align: center;
  }
}

.logos .logo__link {
  text-decoration: none;
  opacity: .7;
  transition: .4s;
  display: block;
}

.logos .logo__link:hover {
  opacity: 1;
}

.pricing {
  background: #ededed;
  padding: 60px 0;
}

.premium-wrapper {
  padding: 70px 0 50px;
  border-top: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
  background: #ffffff;
}

.premium-wrapper .section-wrapper {
  margin-bottom: 60px;
}

.premium-wrapper .premium-cta {
  text-align: center;
}

.premium-wrapper img {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .premium-wrapper img {
    margin-bottom: 40px;
  }
}

.premium {
  display: -ms-flexbox;
  display: flex;
  color: #7e7e7e;
  margin-bottom: 20px;
}

.premium__icon {
  margin-right: 30px;
}

.premium__content h5 {
  font-weight: 900;
  margin-bottom: 5px;
  color: #000000;
}

.premium__list {
  list-style-type: none;
  margin-top: 20px;
  line-height: 150%;
}

.premium__item {
  text-transform: uppercase;
}

.facts {
  padding: 60px 0 80px;
  background: #000000;
}

.facts h2 {
  color: #ffffff;
}

@media (max-width: 992px) {
  .facts {
    padding: 40px 0 50px;
  }
}

.fact-box {
  text-align: center;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.fact-box__number {
  font-size: 50px;
  font-weight: 900;
  color: #b88b58;
}

.fact-box__line {
  margin: 15px auto 15px;
  height: 4px;
  width: 20px;
  background: #7e7e7e;
}

.fact-box__title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
}

.fact-box__text {
  color: #7e7e7e;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .fact-box__text {
    margin-top: 5px;
  }
}

@media (max-width: 1200px) {
  .fact-box {
    height: auto;
    margin-bottom: 30px;
  }
}

.share {
  padding: 20px 0;
  border-top: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
}

.share__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

@media (max-width: 768px) {
  .share__wrapper {
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.share__info {
  margin-right: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #aeaeae;
}

.share__info .far {
  font-size: 32px;
}

.share__info-text {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-left: 12px;
}

@media (max-width: 768px) {
  .share__info {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.share__item-wrapper {
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .share__item {
    margin: 0 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
}

.share__item:not(:last-child) {
  margin-right: 35px;
}

@media (max-width: 768px) {
  .share__item:not(:last-child) {
    margin-right: 0;
  }
}

.share__icon {
  text-align: center;
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  line-height: 34px;
  color: #ffffff;
  transition: .4s;
}

.share__icon:hover {
  opacity: .7;
}

.share__icon--twitter {
  background: #34c5f0;
}

.share__icon--in {
  background: #127cb4;
}

.share__icon--fb {
  background: #336297;
}

.share__icon--google {
  background: #e74237;
}

.share__icon--pin {
  background: #b71c29;
}

.share__item-stats {
  color: #7e7e7e;
  font-size: 12px;
  font-weight: 700;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .share__item-stats {
    margin-left: 0;
    margin-top: 5px;
  }
}

.contact {
  padding: 60px 0;
}

.address {
  position: relative;
}

.address__map {
  height: 400px;
  width: 100%;
}

.address-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 40px 30px;
  border-radius: 5px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.address-box__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.address-box__item:not(:last-child) {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .address-box__item {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.address-box__link {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  background: #aeaeae;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: .4s;
}

.address-box__link:hover {
  background: #b88b58;
}

.address-box__text {
  color: #aeaeae;
  font-size: 14px;
  font-weight: 300;
  margin-left: 15px;
}

@media (max-width: 768px) {
  .address-box__text {
    text-align: center;
    margin: 10px 0 0;
  }
}

@media (max-width: 768px) {
  .address-box {
    position: unset;
    transform: unset;
    background: none;
  }
}
/*# sourceMappingURL=style.css.map */