.header {
    background: $color-black;

    &__wrapper {
        width: 100%;
        max-width: $grid-width;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin: 0 auto;

        @include screen-xl {
            padding: 10px 20px;
        }
    }
}

// NAV - DESKTOP VERSION:

.nav {

    &__list {
        display: flex;
        flex-wrap: wrap;
        height: 80px;
        line-height: 80px;
    }

    &__item {
        display: inline-block;
        margin-left: 18px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            height: 5px;
            width: 0%;
            display: block;
            background: $color-primary;
            transition: .4s;
        }

        &:hover::after {
            width: 100%;
        }
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-white;
        font-size: 15px;
        font-weight: 700;
        display: inline-block;
        height: 100%;
    }
}

.mobile {
    display: none;
    z-index: 99;
    cursor: pointer;

    &__line {
        height: 3px;
        width: 40px;
        display: block;
        background: $color-white;
        transition: .3s;

        &--2 {
            margin: 8px 0;
        }
    }

    &.active {
        .mobile__line--2 {
            opacity: 0;
        }

        .mobile__line--1 {
            transform: translateY(11px) rotate(45deg);
        }

        .mobile__line--3 {
            transform: translateY(-11px) rotate(-45deg);
        }
    }
}

// NAV - MOBILE VERSION:

@include screen-xl {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50vw;
        z-index: 99;
        background: $color-black;
        display: flex;
        align-items: center;
        transform: translateX(-100%);
        transition: .8s;
        visibility: hidden;

        &__list {
            display: flex;
            position: absolute;
            left: 0;
            right: 0;
            flex-wrap: wrap;
            flex-direction: column;
            text-align: center;
            align-items: center;
            height: unset;
            line-height: unset;
        }

        &__item {
            margin-left: 0;
            margin-bottom: 10px;
            padding-bottom: 5px;

            &::after {
                height: 3px;
            }
        }

        &__link {
            font-size: 18px;
        }

        &.visible {
            transform: translateX(0%);
            visibility: visible;
        }
    }

    .mobile {
        display: inline-block; 
    }
}



///// HOME /////

.home {
    background-image: url('../images/bg-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 85vh;
    position: relative;

    &__wrapper {
        width: 100%;
        max-width: $grid-width;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &__content-box {
        text-align: center;
    }

    &__number {
        color: $color-white;
        font-size: 20px;
        font-weight: 900;
        text-transform: uppercase;
        margin: 10px 0 30px 0;
    }
}