// COLORS:

$color-black: #000000;
$color-white: #ffffff;

$color-primary: #b88b58;

$color-grey-light: #f7f7f7;
$color-grey-medium: #ededed;
$color-grey-dark-1: #bebebe;
$color-grey-dark-2: #aeaeae;
$color-grey-dark-3: #7e7e7e;
$color-grey-dark-4: #373737;
$color-grey-dark-5: #242424;

$color-twitter: #34c5f0;
$color-linkedin: #127cb4;
$color-fb: #336297;
$color-google-plus: #e74237;
$color-pinterest: #b71c29;

// GRID:

$grid-width: 1170px;

// BREAKPOINTS:

$screen-xs: 468px;
$screen-sm: 600px;
$screen-md: 768px;
$screen-bg: 992px;
$screen-xl: 1200px;

